<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"             
       xsi:schemaLocation=
       "http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-2.5.xsd">	
	<context:annotation-config/>
	<tx:annotation-driven transaction-manager="transactionManager" />

	<import resource="classpath:datasources.xml" />
	<import resource="classpath:hibernate.xml" />
	<import resource="classpath:quartz.xml" />

	<context:component-scan base-package="pl.jedenpies.web.traces.dao" />
	<context:component-scan base-package="pl.jedenpies.web.traces.service" />
	<context:component-scan base-package="pl.jedenpies.web.traces.utils" />
	<context:component-scan base-package="pl.jedenpies.web.traces.beans" scoped-proxy="targetClass"/>	
	
	<context:property-placeholder location="classpath*:application.properties"/>
		
	<!-- Temporal, should be extracted to another file -->
	<bean id="mapDescriptor" class="pl.jedenpies.web.traces.beans.MapDescriptor">
		
		<property name="areaTypes">
		    <set>
		        <value>LEVEL1</value>
		        <value>LEVEL2</value>
		        <value>LEVEL3</value>
		        <value>LEVEL4</value>
		        <value>LEVEL5</value>
		        <value>LEVEL6</value>
		        <value>LEVEL7</value>
		        <value>LEVEL8</value>
		        <value>LEVEL9</value>
		        <value>LEVEL10</value>
		    </set>
		</property>  
		<property name="leftBottomCorner">
			<bean class="pl.jedenpies.web.traces.model.domain.Location">
				<constructor-arg index="0" value="${map.area.bottomLeftCorner.latitude}" />
				<constructor-arg index="1" value="${map.area.bottomLeftCorner.longitude}" />	    
			</bean>	
	    </property>
		<property name="rightTopCorner">
			<bean id="topRightMapCorner" class="pl.jedenpies.web.traces.model.domain.Location">
				<constructor-arg index="0" value="${map.area.topRightCorner.latitude}" />
				<constructor-arg index="1" value="${map.area.topRightCorner.longitude}" />	    
			</bean>
		</property>		
		<property name="picSize" value="200" />
		<property name="fileFormat" value="png" />
	</bean>
	
</beans>