ul.horizontalMenu {
	font-size: 14px;
	padding: 0px;
	margin: 8px;
	float: left;
	width: 921px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

ul.horizontalMenu > li {
	list-style-type: none;
	margin: 5px 0;
	float: left;
	padding: 5px 15px;
	text-align: center;
	border-right: 1px solid #ddd;
}

ul.horizontalMenu > li.right {
	border-left: 1px solid #ddd;
	border-right: 0px;
	float: right;
}

ul.horizontalMenu > li:last-child {
	border-right: 0;
}

ul.horizontalMenu > li:hover {
	cursor: auto;
}

ul.horizontalMenu > li > a {
	color: #777;
	text-decoration: none;
}
ul.horizontalMenu > li > a:hover {
	color: #222;
}

ul.horizontalMenu > li.current {
	color: #d33;
}

ul.horizontalMenu > li.inactive:hover {
	border-bottom-color: #ccc;
}

ul.horizontalMenu > li.inactive {
	color: #ddd;
}
